<a href="#/add" class="btn btn-primary">Criar</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Data</th>
            <th style="width: 60px;"></th>
            <th style="width: 60px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in posts">
            <td>{{ post.title }}</td>
            <td>{{ post.date }}</td>
            <td><a href="#/edit/{{ post.id }}" class="btn btn-default btn-xs">Editar</a></td>
            <td><a ng-click="delete(post.id)" class="btn btn-default btn-xs">Excluir</a></td>
        </tr>
        <tr ng-if="posts.length == 0">
            <td colspan="4">Nenhum post publicado.</td>
        </tr>
    </tbody>
</table>